.gallery {
    grid-column: 1/ -1;
}

.section-title {}

.gallery-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 280px);
    grid-template-areas: 
    "gallery_1 gallery_1 gallery_2" 
    "gallery_3 gallery_4 gallery_2" 
    "gallery_3 gallery_5 gallery_5";
    padding: 20px 50px;
    gap: 1rem;
    justify-items: center;
}

.image-gallery {
    width: 100%;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery1 {
    grid-area: gallery_1;
    background-image: url(../images/gallery-1.jpg);
    
}

.gallery2 {
    grid-area: gallery_2;
    background-image: url(../images/gallery-2.jpg);
    
}

.gallery3 {
    grid-area: gallery_3;
    background-image: url(../images/gallery-3.jpg);
    
}

.gallery4 {
    grid-area: gallery_4;
    background-image: url(../images/gallery-4.jpg);
    
}

.gallery5 {
    grid-area: gallery_5;
    background-image: url(../images/gallery-5.jpg);
}

.gallery6 {
    grid-area: gallery_6;
    background-image: url(../images/gallery-6.jpg);
}

@media screen and (max-width: 1000px) {
    .gallery-section {
    grid-template-areas: 
    "gallery_1 gallery_1 gallery_2" 
    "gallery_3 gallery_4 gallery_4" 
    "gallery_5 gallery_5 gallery_5";
    }
}

@media screen and (max-width: 600px) {
    .gallery-section {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 280px);
        grid-template-areas: 
        "gallery_1 gallery_1" 
        "gallery_3 gallery_2" 
        "gallery_4 gallery_4" 
        "gallery_5 gallery_5";
    }
}